

*{
  margin: 0;
  padding: 0;
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin: 1em ;
  box-shadow: 0 10px 20px grey;
  animation: spin 3s ease-in-out infinite;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("./pngegg.png");
  z-index: -5;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}


@keyframes spin {
  0% {
      transform: rotateY(0deg);
  }
  20% {
      transform: rotateY(45deg);
      box-shadow: 15px 10px 20px red;
  }
  40% {
      transform: rotateY(0deg);
      box-shadow: 0 10px 20px grey;
  }
  80% {
      transform: rotatey(-45deg);
      box-shadow: -15px 10px 20px blue;
  }
  100% {
      transform: rotateY(0deg);
  }
}

/* ------------------------------------------------------------------ */

/* @keyframes rotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(2) rotate(180deg);
  }
  100% {
    transform: scale(0) rotate(360deg);
  }
} */